body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#card {
    width: 500px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    -webkit-transition: transform 0.3s;
    /* For Safari 3.1 to 6.0 */
    transition: transform 0.3s;
    cursor: pointer;
}

#card:hover {
    transform: scale(1.1);
}

#card > * {
    flex: 1 1 0;
    padding: 10px;
}

#description h2 {
    margin: 0;
    text-align: center;
}

#photo {
    display: flex;
    align-items: center;
}
