* {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

body {
    border: 5px solid green;
    color: green;
}
#parent {
    color: red;
    margin-top: 200px;
    border: 4px dotted red;
    position : relative;
    /* comment out the above line */
}

.list-item {
    border: 2px solid #000;
    display : block;
    width: 200px;
    height: 100px;
    color: black;
}

.list-item:nth-child(2) {
    position : absolute;
    margin-left: 500px;
    background: red;
    color: white;
    bottom : 0;
}